@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Origintech';
  src:  url('./fonts/OriginTech.otf') format('otf'),
        url('./fonts/OriginTech.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RealityHyper';
  src:  url('./fonts/RealityHyper.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}